In [67]:
import pandas as pd
from datetime import timedelta

In [68]:
master_list = {1: "Vaibhavkrishna Bhosle",
                2: "Shivaji Bhosle",
                3: "Suvarna Bhosle",
                4: "Shreekant",
                5: "Shivappa",
                6: "Maheshwari Biradar",
                7: "Suvarna A",
                8: "Sachin",
                9: "Jameer Sir",
                10: "Vijaylaxmi Mam",
                11: "Suryakant Sir",
                12: "Kannada Mam",
                13: "Dattu Sir",
                14: "Sandeep Sir",
                16: "Pandit Sir",
                17: "Vishwanath Sir",
                18: "Pawan Sir",
                19: "Raheem Dir"}

start_date = "2022-03-01"
end_date = "2022-04-01"

In [69]:
df = pd.read_csv("data.dat" , sep="\t",header=None)
df.columns = ["emp_id","Date_Time","fingure","in_out","junk","junk_"]
df1 = df.Date_Time.str.split(expand=True)

df["date"] = pd.to_datetime(df1[0])
df["time"] = pd.to_timedelta(df1[1])

df = df.drop(["Date_Time","fingure","junk","junk_"],axis=1)

In [70]:
after_start_date = df["date"] >= pd.to_datetime(start_date)
before_end_date = df["date"] < pd.to_datetime(end_date)
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]
filtered_dates=filtered_dates.reset_index()
filtered_dates = filtered_dates.drop(["index"],axis=1)

In [71]:
filtered_dates

     emp_id  in_out       date            time
0         5       0 2022-03-01 0 days 10:08:20
1         5       1 2022-03-01 0 days 18:11:45
2         5       0 2022-03-02 0 days 09:08:19
3         4       0 2022-03-02 0 days 09:19:05
4         6       0 2022-03-02 0 days 09:49:16
..      ...     ...        ...             ...
449       7       0 2022-03-31 0 days 18:46:57
450       9       1 2022-03-31 0 days 19:04:34
451      10       1 2022-03-31 0 days 19:10:42
452       4       1 2022-03-31 0 days 19:47:52
453      13       1 2022-03-31 0 days 19:48:00

[454 rows x 4 columns]

In [72]:
filtered_dates["emp_id"].unique()

array([ 5,  4,  6, 18,  7, 10,  9, 15, 19, 17, 16, 13], dtype=int64)

In [73]:
filtered_dates = filtered_dates[filtered_dates["emp_id"] == 18]
filtered_dates = filtered_dates.reset_index()
filtered_dates = filtered_dates.drop(["index","emp_id"],axis=1)

In [74]:
monthly_df = pd.DataFrame()
date_att = pd.to_datetime(filtered_dates["date"].unique()).strftime("%Y-%m-%d").tolist()
date_cur = []
in_time = []
out_time = []
on_break = []
on_floor = []

for dates in date_att:
    on_floor_time = timedelta()
    on_break_time = timedelta()
    

    temp = filtered_dates[filtered_dates["date"] == dates]
    temp = temp.reindex()

    if (temp.size/3) % 2 == 0:
        for i in range(0,int(temp.size/3),1):
            if i % 2 == 0:
                temp["in_out"][i] = 0
            else:
                temp["in_out"][i] = 1
        for i in range(1,int(temp.size/3)):
            if i % 2 == 1:
                on_floor_time =on_floor_time + (temp["time"].iloc[i] - temp["time"].iloc[i-1])
            else:
                on_break_time =on_break_time + (temp["time"].iloc[i] - temp["time"].iloc[i-1])

        date_cur.append(dates)
        in_time.append(min(temp["time"]))
        out_time.append(max(temp["time"]))
        on_floor.append(on_floor_time)
        on_break.append(on_break_time)
    else:
        print("Error in data for date"+str(dates))
        print(temp)
        

monthly_df["Date"] = date_cur
monthly_df["In Time"] =  in_time 
monthly_df["Out Time"] = out_time
monthly_df["On Floor"] = on_floor
monthly_df["On Break"] = on_break

Error in data for date2022-03-29
    in_out       date            time
54       0 2022-03-29 0 days 10:45:29

C:\Users\frost\anaconda3\envs\genral\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\frost\anaconda3\envs\genral\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\frost\anaconda3\envs\genral\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\frost\anaconda3\envs\genral\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [75]:
monthly_df

          Date         In Time        Out Time        On Floor        On Break
0   2022-03-02 0 days 09:51:22 0 days 16:36:04 0 days 06:00:49 0 days 00:43:53
1   2022-03-03 0 days 10:23:09 0 days 16:41:02 0 days 06:17:53 0 days 00:00:00
2   2022-03-04 0 days 09:56:41 0 days 17:19:11 0 days 07:22:30 0 days 00:00:00
3   2022-03-07 0 days 10:04:17 0 days 18:08:47 0 days 06:37:24 0 days 01:27:06
4   2022-03-08 0 days 09:42:11 0 days 17:41:08 0 days 07:58:57 0 days 00:00:00
5   2022-03-09 0 days 10:14:19 0 days 17:23:30 0 days 07:09:11 0 days 00:00:00
6   2022-03-10 0 days 09:59:45 0 days 16:55:28 0 days 06:55:43 0 days 00:00:00
7   2022-03-11 0 days 10:30:19 0 days 17:04:37 0 days 06:34:18 0 days 00:00:00
8   2022-03-15 0 days 11:01:32 0 days 17:56:18 0 days 06:54:46 0 days 00:00:00
9   2022-03-16 0 days 10:23:27 0 days 17:55:09 0 days 07:09:54 0 days 00:21:48
10  2022-03-17 0 days 10:08:33 0 days 17:58:48 0 days 07:22:05 0 days 00:28:10
11  2022-03-19 0 days 10:14:10 0 days 17:45:43 0 days 07:31:33 0 days 00:00:00
12  2022-03-21 0 days 10:10:49 0 days 17:46:57 0 days 06:35:31 0 days 01:00:37
13  2022-03-22 0 days 10:24:24 0 days 17:55:23 0 days 07:09:51 0 days 00:21:08
14  2022-03-23 0 days 10:06:25 0 days 17:41:24 0 days 07:07:43 0 days 00:27:16
15  2022-03-25 0 days 10:22:04 0 days 18:09:30 0 days 06:28:09 0 days 01:19:17
16  2022-03-26 0 days 10:12:44 0 days 17:48:27 0 days 07:35:43 0 days 00:00:00
17  2022-03-28 0 days 10:02:20 0 days 18:25:20 0 days 08:23:00 0 days 00:00:00
18  2022-03-30 0 days 10:28:34 0 days 18:26:42 0 days 07:58:08 0 days 00:00:00
19  2022-03-31 0 days 11:07:40 0 days 18:23:11 0 days 06:00:23 0 days 01:15:08

In [76]:
cols = monthly_df.columns
monthly_df[cols[1]] = monthly_df[cols[1]].astype(str).str[7:]
monthly_df[cols[2]] = monthly_df[cols[2]].astype(str).str[7:]
monthly_df[cols[3]] = monthly_df[cols[3]].astype(str).str[7:]
monthly_df[cols[4]] = monthly_df[cols[4]].astype(str).str[7:]

In [81]:
monthly_df[cols[1]] = monthly_df[cols[1]].astype("|S80")
monthly_df[cols[2]] = monthly_df[cols[2]].astype("|S80")
monthly_df[cols[3]] = monthly_df[cols[3]].astype("|S80")
monthly_df[cols[4]] = monthly_df[cols[4]].astype("|S80")

In [82]:
monthly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20 non-null     object
 1   In Time   20 non-null     |S80
 2   Out Time  20 non-null     |S80
 3   On Floor  20 non-null     |S80
 4   On Break  20 non-null     |S80
dtypes: bytes640(4), object(1)
memory usage: 6.5+ KB